body {
  background-color:ghostwhite;
}

.header {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 25px;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 50px;
  flex: 1 1 0%;
}

.board {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  border: 1px solid lightgrey;
}

.row {
  display: flex;
  flex: 1;
}

.tile {
  flex: 1;
  background-color: white;
}

.tile:hover {
  background-color: lightgray;
}

.control-pannel {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}

.button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid grey;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  background-color: white;
  color:grey;
  text-align:center;
  transition: all 0.2s;
}

.button:hover {
  color:#000000;
  border:0.1em solid black;
}

.button.active {
  background-color: black;
  color: white;
}

.footer {
  height: 50px;
  line-height: 50px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  background-color: darkgray;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
}

.footer h6 {
  padding: 0px;
  margin: 0px;
}

@media (max-width: 400px ) {
  .board {
    height: 250px;
    width: 250px;
  }
}
